<div class="shorcut-container">
  <span>A</span>
  <div class="discriptions">
    <span id="1">AMIce</span>
    <p>Arzneimittelinformationssystem.</p>
  </div>
  <span>B</span>
  <div class="discriptions">
    <span id="1">BMG</span>
    <p>Bundesministerium für Gesundheit.</p>
  </div>
  <div class="discriptions">
    <span id="2">BZgA:</span>
    <p>
      Die Bundeszentrale für gesundheitliche Aufklärung erfüllt unter anderem
      Aufgaben zur Prävention.
    </p>
  </div>
  <div class="discriptions">
    <span id="2">BfArM:</span>
    <p>Das Bundesinstitut für Arzneimittel und Medizinprodukte.</p>
  </div>
  <div class="discriptions">
    <span id="2">BÄK:</span>
    <p>Die Bundesärztekammer.</p>
  </div>
  <div class="discriptions">
    <span id="2">BPtK:</span>
    <p>Die Bundespsychotherapeutenkammer.</p>
  </div>
  <div class="discriptions">
    <span id="2">BSI:</span>
    <p>Das Bundesamt für Sicherheit in der Informationstechnik.</p>
  </div>
  <div class="discriptions">
    <span id="2">BMV:</span>
    <p>Bundesmatelvertrag.</p>
  </div>
  <div class="discriptions">
    <span id="2">BDSG:</span>
    <p>Neues Bundesdatenschutzgesetz.</p>
  </div>
  <span>C</span>
  <div class="discriptions">
    <span id="2">CT:</span>
    <p>Computertomographie.</p>
  </div>
  <span>D</span>
  <div class="discriptions">
    <span id="2">DIVI:</span>
    <p>
      Deutschen Interdisziplinären Vereinigung für Intensiv und Notfallmedizin.
    </p>
  </div>
  <div class="discriptions">
    <span id="2">DIMDI:</span>
    <p>Deutsches Institut für medizinische Dokumentation und Information.</p>
  </div>
  <div class="discriptions">
    <span id="2">DKG:</span>
    <p>Deutsche Krankenhausgesellschaft.</p>
  </div>
  <div class="discriptions">
    <span id="2">DEMIS:</span>
    <p>Deutschen Elektronischen Melde- und Informationssystem.</p>
  </div>
  <div class="discriptions">
    <span id="2">DMS:</span>
    <p>Dokumenten Management System.</p>
  </div>
  <div class="discriptions">
    <span id="2">DiGa:</span>
    <p>Digitalen Gesundheitsanwendungen.</p>
  </div>
  <div class="discriptions">
    <span id="2">DiPas:</span>
    <p>Digitale Pflegeanwendungen.</p>
  </div>
  <div class="discriptions">
    <span id="2">DSGVO:</span>
    <p>Datenschutz-Grundverordnung.</p>
  </div>
  <span>E</span>
  <div class="discriptions">
    <span id="2">EBM:</span>
    <p>Der einheitliche Bewertungsmaßstab.</p>
  </div>
  <div class="discriptions">
    <span id="2">ePA:</span>
    <p>Elektronische PatientenakteElektronische Patientenakte.</p>
  </div>
  <div class="discriptions">
    <span id="2">eGK:</span>
    <p>elektronische Gesundheitskarte.</p>
  </div>
  <div class="discriptions">
    <span id="2">eHBA:</span>
    <p>Elektronischer Heilberufsausweis.</p>
  </div>
  <div class="discriptions">
    <span id="2">ERP-System:</span>
    <p>Enterprise Resource Planning - System.</p>
  </div>
  <!-- <span>F</span> -->
  <span>G</span>
  <div class="discriptions">
    <span id="2">GKV:</span>
    <p>Gesetzliche Krankenversicherung.</p>
  </div>
  <div class="discriptions">
    <span id="2">GBA:</span>
    <p>Gemeinsame Bundesausschuss.</p>
  </div>
  <div class="discriptions">
    <span id="2">GKV-Spitzenverband:</span>
    <p>Spitzenverband Bund der Krankenkassen.</p>
  </div>
  <div class="discriptions">
    <span id="2">GOÄ:</span>
    <p>Gebührenordnung für Ärzte.</p>
  </div>
  <div class="discriptions">
    <span id="2">Gematik:</span>
    <p>Gesellschaft für Telematikanwendungen der Gesundheitskarte.</p>
  </div>
  <div class="discriptions">
    <span id="2">GMG:</span>
    <p>Das gesetzliche Krankenversicherung Modernisierungsgesetz.</p>
  </div>
  <!-- <span>H</span> -->
  <span>I</span>
  <div class="discriptions">
    <span id="2">IQWiG:</span>
    <p>
      Das Institut für Qualität und Wirtschaftlichkeit im Gesundheitswesen wurde
      im Jahr 2004 gegründet.
    </p>
  </div>
  <div class="discriptions">
    <span id="2">ICD:</span>
    <p>
      ICD steht für "International Statistical Classification of Diseases and
      Related Health Problems". Oder ins Deutsche übersetzt und etwas
      vereinfacht: Internationale Klassifikation der Krankheiten.
    </p>
  </div>
  <div class="discriptions">
    <span id="2">IMD:</span>
    <p>Integrierte Materialdokumentation.</p>
  </div>
  <div class="discriptions">
    <span id="2">ISiK:</span>
    <p>Informationstechnische Systeme in Krankenhäusern.</p>
  </div>
  <div class="discriptions">
    <span id="2">IWiG:</span>
    <p>Institut für Workflow-Management im Gesundheitsweisen.</p>
  </div>
  <!-- <span>J</span> -->
  <span>K</span>
  <div class="discriptions">
    <span id="2">KBV:</span>
    <p>Kassenärztliche Bundesvereinigung.</p>
  </div>
  <div class="discriptions">
    <span id="2">KZBV:</span>
    <p>Kassenzahnärztliche Bundesvereinigung .</p>
  </div>
  <div class="discriptions">
    <span id="2">KIM:</span>
    <p>Kommunikation im Medizinwesen.</p>
  </div>
  <div class="discriptions">
    <span id="2">KIS:</span>
    <p>Krankenhausinformationssystem.</p>
  </div>
  <span>L</span>
  <div class="discriptions">
    <span id="2">LIS:</span>
    <p>Laborinformationssystem.</p>
  </div>
  <span>M</span>
  <div class="discriptions">
    <span id="1">Morbi-RSA</span>
    <p>Morbiditätsorientierte Risikostrukturausgleich.</p>
  </div>
  <div class="discriptions">
    <span id="1">MRT</span>
    <p>Magnetresonanztomographie.</p>
  </div>
  <!-- <span>N</span> -->
  <span>O</span>
  <div class="discriptions">
    <span id="2">OCT:</span>
    <p>Optische Kohärenztomographie.</p>
  </div>
  <div class="discriptions">
    <span id="2">OMS:</span>
    <p>OP- Managementsysteme.</p>
  </div>
  <span>P</span>
  <div class="discriptions">
    <span id="2">PEI:</span>
    <p>Das Paul-Ehrlich-Institut.</p>
  </div>
  <div class="discriptions">
    <span id="2">PKV:</span>
    <p>Private Krankenversicherung.</p>
  </div>
  <div class="discriptions">
    <span id="2">PKI:</span>
    <p>Public Key Infrastruktur.</p>
  </div>
  <div class="discriptions">
    <span id="2">PVS:</span>
    <p>Praxisverwaltungssystem.</p>
  </div>
  <div class="discriptions">
    <span id="2">PACS:</span>
    <p>Picture Archiving and Communication System..</p>
  </div>
  <div class="discriptions">
    <span id="2">PET:</span>
    <p>Positronen-Emissions-Tomographie.</p>
  </div>
  <div class="discriptions">
    <span id="2">PDMS:</span>
    <p>Patientendaten-Managementsysteme.</p>
  </div>
  <!-- <span>Q</span> -->
  <span>R</span>
  <div class="discriptions">
    <span id="1">RKI</span>
    <p>
      Das Robert-Koch-Institut ist das nationale PublicHealth Institut für
      Deutschland.
    </p>
  </div>
  <div class="discriptions">
    <span id="1">RIS</span>
    <p>Radiologisches Informationssystem.</p>
  </div>
  <span>S</span>
  <div class="discriptions">
    <span id="1">SGB V</span>
    <p>Fünften Buch Sozialgesetzbuch.</p>
  </div>
  <div class="discriptions">
    <span id="1">SMC-B</span>
    <p>Elektronischer Praxisausweis bzw. Klinikausweis.</p>
  </div>
  <div class="discriptions">
    <span id="1">SPECT</span>
    <p>Single-Photon-Emissionscomputertomographie.</p>
  </div>
  <Span>T</Span>
  <div class="discriptions">
    <span id="1">TI</span>
    <p>Telematikinfrastruktur.</p>
  </div>
  <div class="discriptions">
    <span id="1">TI-Messenger:</span>
    <p>
      Über Kurznachrichten ortsunabhängig miteinander kommunizieren – das
      ermöglicht der TI-Messenger bald auch für den medizinischen Alltag. Im
      Sommer 2022 stehen die ersten Messengerdienste zur Verfügung. Dann ist
      eine schnelle und sichere Echtzeit-Kommunikation auch im Gesundheitswesen
      möglich.
    </p>
  </div>
  <div class="discriptions">
    <span id="1">TOM</span>
    <p>Technische und organisatorische Maßnahmen.</p>
  </div>
  <!-- <Span>U</Span> -->
  <span>V</span>
  <div class="discriptions">
    <span id="1">VSDM</span>
    <p>Versichertenstammdatenmanagement.</p>
  </div>
  <!-- <span>W</span>
  <span>X</span>
  <span>Y</span>
  <span>Z</span> -->
</div>
