<div class="shorcut-container">
  <div class="discriptions">
    <span id="1">BMG</span>
    <p>Bundesministerium für Gesundheit.</p>
  </div>
  <div class="discriptions">
    <span id="1">RKI</span>
    <p>
      Das Robert-Koch-Institut ist das nationale PublicHealth Institut für
      Deutschland.
    </p>
  </div>
  <div class="discriptions">
    <span id="2">DIVI:</span>
    <p>
      Deutschen Interdisziplinären Vereinigung für Intensiv und Notfallmedizin.
    </p>
  </div>
  <div class="discriptions">
    <span id="2">PEI:</span>
    <p>Das Paul-Ehrlich-Institut.</p>
  </div>
  <div class="discriptions">
    <span id="2">DIMDI:</span>
    <p>Deutsches Institut für medizinische Dokumentation und Information.</p>
  </div>
  <div class="discriptions">
    <span id="2">IQWiG:</span>
    <p>
      Das Institut für Qualität und Wirtschaftlichkeit im Gesundheitswesen wurde
      im Jahr 2004 gegründet.
    </p>
  </div>
  <div class="discriptions">
    <span id="2">BZgA:</span>
    <p>
      Die Bundeszentrale für gesundheitliche Aufklärung erfüllt unter anderem
      Aufgaben zur Prävention.
    </p>
  </div>
  <div class="discriptions">
    <span id="2">BfArM:</span>
    <p>Das Bundesinstitut für Arzneimittel und Medizinprodukte.</p>
  </div>
  <div class="discriptions">
    <span id="2">ICD:</span>
    <p>
      ICD steht für "International Statistical Classification of Diseases and
      Related Health Problems". Oder ins Deutsche übersetzt und etwas
      vereinfacht: Internationale Klassifikation der Krankheiten..
    </p>
  </div>
</div>
