:host {
  flex: 1;
}
.shorcut-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
}

.discriptions {
  display: flex;
  flex-direction: column;
  background-color: #318deb;
  width: 80%;
  margin-top: 16px;
  border-bottom-left-radius: 16px;
  border-bottom-right-radius: 16px;
  span {
    font-weight: bold;
    font-family: mutka;
    background: #ff370a;
    padding: 16px;
    border-bottom-left-radius: 16px;
    border-bottom-right-radius: 16px;
  }
  p {
    font-family: mutka;
    padding: 16px;
    border-radius: 16px;
    width: 80%;
    align-self: center;
  }
}

span{
  width: 80%;
  background: black;
  color: white;
  text-align: center;
  margin-top: 16px;
  margin-bottom: 16px;
}
