<div class="shorcut-container">
  <span>A</span>
  <span>B</span>
  <div class="discriptions">
    <span id="1">BMG</span>
    <p>Bundesministerium für Gesundheit.</p>
  </div>
  <div class="discriptions">
    <span id="2">BZgA:</span>
    <p>
      Die Bundeszentrale für gesundheitliche Aufklärung erfüllt unter anderem
      Aufgaben zur Prävention.
    </p>
  </div>
  <div class="discriptions">
    <span id="2">BfArM:</span>
    <p>Das Bundesinstitut für Arzneimittel und Medizinprodukte.</p>
  </div>
  <div class="discriptions">
    <span id="2">BÄK:</span>
    <p>Die Bundesärztekammer.</p>
  </div>
  <div class="discriptions">
    <span id="2">BPtK:</span>
    <p>Die Bundespsychotherapeutenkammer.</p>
  </div>
  <span>C</span>
  <span>D</span>
  <div class="discriptions">
    <span id="2">DIVI:</span>
    <p>
      Deutschen Interdisziplinären Vereinigung für Intensiv und Notfallmedizin.
    </p>
  </div>
  <div class="discriptions">
    <span id="2">DIMDI:</span>
    <p>Deutsches Institut für medizinische Dokumentation und Information.</p>
  </div>
  <div class="discriptions">
    <span id="2">DKG:</span>
    <p>Deutsche Krankenhausgesellschaft.</p>
  </div>
  <span>E</span>
  <span>F</span>
  <span>G</span>
  <div class="discriptions">
    <span id="2">GKV:</span>
    <p>Gesetzliche Krankenversicherung.</p>
  </div>
  <div class="discriptions">
    <span id="2">GBA:</span>
    <p>Gemeinsame Bundesausschuss.</p>
  </div>
  <div class="discriptions">
    <span id="2">GKV-Spitzenverband:</span>
    <p>Spitzenverband Bund der Krankenkassen.</p>
  </div>
  <span>H</span>
  <span>I</span>
  <div class="discriptions">
    <span id="2">IQWiG:</span>
    <p>
      Das Institut für Qualität und Wirtschaftlichkeit im Gesundheitswesen wurde
      im Jahr 2004 gegründet.
    </p>
  </div>
  <div class="discriptions">
    <span id="2">ICD:</span>
    <p>
      ICD steht für "International Statistical Classification of Diseases and
      Related Health Problems". Oder ins Deutsche übersetzt und etwas
      vereinfacht: Internationale Klassifikation der Krankheiten..
    </p>
  </div>
  <span>J</span>
  <span>K</span>
  <div class="discriptions">
    <span id="2">KBV:</span>
    <p>Kassenärztliche Bundesvereinigung.</p>
  </div>
  <div class="discriptions">
    <span id="2">KZBV:</span>
    <p>Kassenzahnärztliche Bundesvereinigung .</p>
  </div>
  <span>L</span>
  <span>M</span>
  <div class="discriptions">
    <span id="1">Morbi-RSA</span>
    <p>Morbiditätsorientierte Risikostrukturausgleich.</p>
  </div>
  <span>N</span>
  <span>O</span>
  <span>P</span>
  <div class="discriptions">
    <span id="2">PEI:</span>
    <p>Das Paul-Ehrlich-Institut.</p>
  </div>
  <div class="discriptions">
    <span id="2">PKV:</span>
    <p>Private Krankenversicherung.</p>
  </div>
  <span>Q</span>
  <span>R</span>
  <div class="discriptions">
    <span id="1">RKI</span>
    <p>
      Das Robert-Koch-Institut ist das nationale PublicHealth Institut für
      Deutschland.
    </p>
  </div>
  <span>S</span>
  <div class="discriptions">
    <span id="1">SGB V</span>
    <p>Fünften Buch Sozialgesetzbuch.</p>
  </div>
  <Span>T</Span>
  <Span>U</Span>
  <span>V</span>
  <span>W</span>
  <span>X</span>
  <span>Y</span>
  <span>Z</span>
</div>
