<div class="modul1-container">
  <h1>Modul-1</h1>
  <div class="header">
    <h2>Die Landkarte im Gesundheitswesen</h2>
  </div>
</div>

<div class="gw-akteure">
  <div class="search-input">
    <label for="">Search here: </label>
    <input [(ngModel)]="searchText" type="search" />
  </div>
  <div
    class="text-container"
    [innerHtml]="text | highlighter: searchText:'full'"
  ></div>
  <div class="akteure">
    <div
      class="text-container2"
      [innerHtml]="text2 | highlighter: searchText:'full'"
    ></div>
    <div
      class="text-container2"
      [innerHtml]="text3 | highlighter: searchText:'full'"
    ></div>
    <div
      class="text-container2"
      [innerHtml]="text4 | highlighter: searchText:'full'"
    ></div>
    <div
      class="text-container2"
      [innerHtml]="text5 | highlighter: searchText:'full'"
    ></div>
    <div
      class="text-container2"
      [innerHtml]="text6 | highlighter: searchText:'full'"
    ></div>
    <div
      class="text-container2"
      [innerHtml]="text7 | highlighter: searchText:'full'"
    ></div>
    <div
      class="text-container2"
      [innerHtml]="text8 | highlighter: searchText:'full'"
    ></div>
  </div>
</div>

<div class="discriptions">
  <span [innerHtml]="text2 | highlighter: searchText:'full'"></span>
  <ul>
    <li>
      Beratung der Politik über die Ausbreitung und Risikoeinschätzung von
      Infektionen.
    </li>
    <li>Erkennung und Erforschung von Krankheiten.</li>
    <li>Überwachen von Epidemien.</li>
    <li>Impfempfehlung.</li>
  </ul>
</div>
<div class="discriptions">
  <span [innerHtml]="text6 | highlighter: searchText:'full'"></span>
  <span
    >Das DIVI Intensivregister ist ein Projekt im Rahmen der COVID-19 Pandemie
    zur Echtzeit-Datenerfassung.
  </span>
  <ul>
    <li>
      Auf Grundlage des bereits bestehenden Meldeportals für akutes
      Lungenversagen.
    </li>
    <li>Austausch über Diagnose- und Behandlungsstrategien.</li>
    <li>Identifikation freier Intensivbetten.</li>
    <li>
      Echtzeitanalyse der aktuellen und zu erwartenden Versorgungssituation.
    </li>
    <li>
      Seit April 2020 Verpflichtung aller intensivbettenführenden
      Akutkrankenhäuser in Deutschland zur täglichen Meldung im
      DIVI-Intensivregister.
    </li>
  </ul>
</div>
<div class="discriptions">
  <span [innerHtml]="text9 | highlighter: searchText:'full'"></span>
  <ul>
    <li>Beratung von Arzneimittelherstellern zu COVID-19.</li>
    <li>
      Bearbeitung (BfArM) und Genehmigung (PEI) klinischer Prüfungen von
      Impfstoffen.
    </li>
    <li>
      Bereitstellung (BfArM) und vergleichende Bewertung (PEI) von Antigen
      Schnelltests.
    </li>
    <li>Bewertung von Verdachtsfällen unerwünschter Nebenwirkungen.</li>
    <li>
      Prüfung von Impfstoffentwicklungen auf Qualität, Wirksamkeit und
      Sicherheit.
    </li>
  </ul>
</div>

<div class="discriptions">
  <span [innerHtml]="text5 | highlighter: searchText:'full'"></span>
  <ul>
    <li>Seit 26.05.2020 DIMDI gehört zu BfArM.</li>
    <li>Digitalisierung im Gesundheitswesen.</li>
    <li>Organspenderegister .</li>
    <li>
      Entwicklung und Betreibung von Informationssystemen Z.B. für Arzneimittel,
      Medizinprodukte, Versorgungsdaten.
    </li>
    <li>
      Bereitstellung von Informationen aus der gesamten Medizin und ihren
      Randgebieten Z.B. medizinische Klassifikationen (ICD).
    </li>
  </ul>
</div>
<div class="discriptions">
  <span [innerHtml]="text7 | highlighter: searchText:'full'"></span>
  <ul>
    <li>Information über Vor- und Nachteile medizinischer Leistungen.</li>
    <li>
      Erstellung von Gutachten zu Arzneimitteln,Behandlungsmethoden, Screening
      etc.
    </li>
    <li>Bereitstellung allgemeinverständlicher Gesundheitsinformationen.</li>
    <li>
      COVID-19: Beurteilung der Impfstoffe COVID-19 bei chronisch
      Kranken,Unterstützung in der Coronakrise.
    </li>
  </ul>
</div>
<div class="discriptions">
  <span [innerHtml]="text4 | highlighter: searchText:'full'"></span>
  <ul>
    <li>
      Aufgaben zur Prävention und Gesundheitsförderung mit unterschiedlichen
      Schwerpunkten.
    </li>
    <li>
      Erstellung von Maßnahmen und Leitung von Projekten und Programmen zur
      Gesundheitsförderung.
    </li>
    <li>Information rund um die unterschiedlichen COVID19 Impfstoffe.</li>
    <li>Informationen zur Verteilung der Corona Schutzimpfung.</li>
  </ul>
</div>

<div class="kv-container">
  <div class="text-container">
    <span
      >Es gibt Unterschiede zwischen der gesetzlichen und der privaten
      Krankenversicherung
      <span [innerHtml]="text10 | highlighter: searchText:'full'"></span>
      &
      <span [innerHtml]="text11 | highlighter: searchText:'full'"></span
    ></span>
  </div>
  <div class="ps">
    <img src="assets/img/warning-4-32.png" />
    <span
      >PS:Für mehr Details siehe Kursmaterialien /Modul1/Woche1/Tag3/Landkarte
      im Gesundheitswesen Teil-1/Folie 16 bis 28.</span
    >
  </div>
  <div class="discriptions">
    <span [innerHtml]="text10 | highlighter: searchText:'full'"></span>
    <p>
      Aufgabe:Gewährleistung eines Versicherungsschutzes derjenigen, die nicht
      gesetzlich versichert sind.
    </p>
    <span class="warn">Rechtsform:Öffentlich-rechtlich.</span>
  </div>
  <div class="discriptions">
    <span [innerHtml]="text11 | highlighter: searchText:'full'"></span>
    <p>
      Aufgabe:Laut Sozialgesetzbuch “Gesundheit der Versicherten zu erhalten,
      wiederherzustellen oder ihren Gesundheitszustand zu bessern”.
    </p>
    <span class="warn">Rechtsform:Privatwirtschaftlich.</span>
  </div>

  <div class="more-infos">
    <img src="assets/img/info-32.png" />
    <span
      >Auch in der Art und Weise der Abrechnung sind Unterschiede zwischen der
      <span [innerHtml]="text10 | highlighter: searchText:'full'"></span> und
      <span [innerHtml]="text11 | highlighter: searchText:'full'"></span>
      vorhanden.</span
    >
  </div>
  <div class="more-infos">
    <img src="assets/img/info-32.png" />
    <span
      >Der privat Versicherte hat andere Zugänge zu Ärzten als der gesetzlich
      Versicherte.</span
    >
  </div>
  <div class="more-infos">
    <img src="assets/img/info-32.png" />
    <span
      >Das
      <span [innerHtml]="text12 | highlighter: searchText:'full'"></span> ist
      die gesetzliche Grundlage der vertragsärztlichen Versorgung.</span
    >
  </div>
  <div class="more-infos">
    <img src="assets/img/info-32.png" />
    <span
      >Der
      <span [innerHtml]="text13 | highlighter: searchText:'full'"></span>
      bündelt und steuert die Finanzströme der gesetzlichen Krankenkassen.</span
    >
  </div>
  <div class="more-infos">
    <img src="assets/img/info-32.png" />
    <span
      >Der morbiditätsorientierte Risikostrukturausgleich (
      <span [innerHtml]="text14 | highlighter: searchText:'full'"></span> )
      schafft einen finanziellen Ausgleich zwischen den Kassen, die
      benachteiligt sind.
    </span>
  </div>

  <div class="text-container">
    <span>In Deutschland gilt das Prinzip der Selbstverwaltung.</span>
  </div>
  <div class="more-infos">
    <img src="assets/img/info-32.png" />
    <span
      >Tragende Organisationsprinzip in der gesetzlichen Krankenversicherung.
    </span>
  </div>
  <div class="more-infos">
    <img src="assets/img/info-32.png" />
    <span
      >Vorgabe der gesetzlichen Rahmenbedingungen und Aufgaben durch den Staat.
    </span>
  </div>
  <div class="more-infos">
    <img src="assets/img/info-32.png" />
    <span
      >Dennoch: die Träger des Gesundheitswesens, die Versicherten und die
      Arbeitgeber organisieren sich selbst, um das Gesundheitssystem zu steuern
      und mitzugestalten .
    </span>
  </div>
  <div class="text-container">
    <span
      >Der gemeinsame Bundesausschuss
      <span [innerHtml]="text15 | highlighter: searchText:'full'"></span>
      fungiert als oberstes Beschlussgremium der gemeinsamen
      Selbstverwaltung.</span
    >
  </div>
  <div class="ps">
    <img src="assets/img/warning-4-32.png" />
    <span
      >PS:Für mehr Details siehe Kursmaterialien /Modul1/Woche1/Tag4/Landkarte
      im Gesundheitswesen Teil-2/Folie 13 bis 16.</span
    >
  </div>
  <div class="more-infos">
    <img src="assets/img/info-32.png" />
    <span
      >Die Aufgaben des
      <span [innerHtml]="text15 | highlighter: searchText:'full'"></span> sind
      im
      <span [innerHtml]="text12 | highlighter: searchText:'full'"></span>
      festgelegt.
    </span>
  </div>
  <div class="text-container">
    <span
      >Die gemeinsame Selbstverwaltung setzt sich aus zahlreichen Mitgliedern
      zusammen.</span
    >
  </div>
  <div class="ps">
    <img src="assets/img/warning-4-32.png" />
    <span
      >PS:Für mehr Details siehe Kursmaterialien /Modul1/Woche1/Tag4/Landkarte
      im Gesundheitswesen Teil-2/Folie 17 bis 20.</span
    >
  </div>
  <div class="more-infos">
    <img src="assets/img/info-32.png" />
    <span
      >Kassenärztliche Bundesvereinigung (<span
        [innerHtml]="text16 | highlighter: searchText:'full'"
      ></span
      >).
    </span>
  </div>
  <div class="more-infos">
    <img src="assets/img/info-32.png" />
    <span
      >Deutsche Krankenhausgesellschaft (
      <span [innerHtml]="text17 | highlighter: searchText:'full'"></span>).
    </span>
  </div>
  <div class="more-infos">
    <img src="assets/img/info-32.png" />
    <span
      >Kassenzahnärztliche Bundesvereinigung (<span
        [innerHtml]="text18 | highlighter: searchText:'full'"
      ></span
      >) .
    </span>
  </div>
  <div class="more-infos">
    <img src="assets/img/info-32.png" />
    <span
      >Spitzenverband Bund der Krankenkassen (<span
        [innerHtml]="text19 | highlighter: searchText:'full'"
      ></span
      >-Spitzenverband).
    </span>
  </div>
  <div class="text-container">
    <span>In Deutschland gibt es 17 Kassenärztliche Vereinigungen.</span>
  </div>
  <div class="ps">
    <img src="assets/img/warning-4-32.png" />
    <span
      >PS:Für mehr Details siehe Kursmaterialien /Modul1/Woche1/Tag4/Landkarte
      im Gesundheitswesen Teil-2/Folie 22 bis 28.</span
    >
  </div>
  <div class="more-infos">
    <img src="assets/img/info-32.png" />
    <span
      >Die KVen stellen die ambulante Versorgung der gesetzlich Versicherten
      sicher.</span
    >
  </div>
  <div class="more-infos">
    <img src="assets/img/info-32.png" />
    <span
      >Die Bedarfsplanung ist ein wesentliches Instrument zur Sicherstellung der
      ambulanten Versorgung.</span
    >
  </div>
  <div class="more-infos">
    <img src="assets/img/info-32.png" />
    <span>Planungsbereiche können offen oder gesperrt sein.</span>
  </div>
  <div class="more-infos">
    <img src="assets/img/info-32.png" />
    <span
      >Die Kostendämmung im Gesundheitswesen spielt bei der Bedarfsplanung eine
      wesentliche Rolle .</span
    >
  </div>
  <div class="more-infos">
    <img src="assets/img/info-32.png" />
    <span
      >Die Abrechnung von Leistungen kann über den Einheitlichen
      Bewertungsmaßstab (<span
        [innerHtml]="text20 | highlighter: searchText:'full'"
      ></span
      >) einheitliche Bewertungsmaßstab erfolgen.</span
    >
  </div>
  <div class="more-infos">
    <img src="assets/img/info-32.png" />
    <span
      >Die Abrechnung der Leistungen erfolgt einmal im Quartal nach dem (<span
        [innerHtml]="text20 | highlighter: searchText:'full'"
      ></span
      >) einheitliche Bewertungsmaßstab mit der Kassenärztlichen
      Vereinigung.</span
    >
  </div>
  <div class="text-container">
    <span>Berufsständige Organisationen.</span>
  </div>
  <div class="title">
    <span
      >Die Bundesärztekammer (<span
        [innerHtml]="text21 | highlighter: searchText:'full'"
      ></span
      >)</span
    >
  </div>
  <div class="more-infos">
    <img src="assets/img/info-32.png" />
    <span
      >Die Bundesärztekammer vertritt die Interessen der Ärztinnen und Ärzte in
      Deutschland.</span
    >
  </div>
  <div class="more-infos">
    <img src="assets/img/info-32.png" />
    <span
      >Die Bundesärztekammer (
      <span [innerHtml]="text21 | highlighter: searchText:'full'"></span> )
      vertritt die Interessen der Ärztinnen und Ärzte in Deutschland.</span
    >
  </div>
  <div class="more-infos">
    <img src="assets/img/info-32.png" />
    <div class="info-block">
      <h3>Als Arbeitsgemeinschaft der 17 deutschen Ärztekammern:</h3>
      <ul>
        <li>
          Mitwirkung am gesundheitspolitischen Meinungsbildungsprozess der
          Gesellschaft.
        </li>
        <li>
          Entwicklung von Perspektiven für eine bürgernahe Gesundheits- und
          Sozialpolitik.
        </li>
        <li>Seit 1873: Jährliche Hauptversammlung - Der Deutsche Ärztetag.</li>
      </ul>
    </div>
  </div>
  <div class="more-infos">
    <img src="assets/img/info-32.png" />
    <span
      >Der Ärztetag 2018 in Erfurt hat das Verbot der ausschließlichen
      Fernbehandlung gelockert.</span
    >
  </div>
  <div class="more-infos">
    <img src="assets/img/info-32.png" />
    <span
      >Die Ärztekammer wirkt an der Gesetzgebung auf dem Gebiet des öffentlichen
      Gesundheitswesens mit.</span
    >
  </div>
  <div class="more-infos">
    <img src="assets/img/info-32.png" />
    <div class="info-block">
      <h3>Weitere Aufgaben:</h3>
      <ul>
        <li>Förderung der ärztlichen Ausbildung und Fortbildung.</li>
        <li>Erhalt eines wissenschaftlich hochstehenden Ärztestandes.</li>
        <li>Ordnung der ärztlichen Berufspflichten und Weiterbildung.</li>
      </ul>
    </div>
  </div>
  <div class="title">
    <span
      >Die Bundespsychotherapeutenkammer (<span
        [innerHtml]="text22 | highlighter: searchText:'full'"
      ></span
      >)</span
    >
  </div>
  <div class="more-infos">
    <img src="assets/img/info-32.png" />
    <span
      >Die Bundespsychotherapeutenkammer (
      <span [innerHtml]="text22 | highlighter: searchText:'full'"></span> )dient
      als Arbeitsgemeinschaft der Landespsychotherapeutenkammern.</span
    >
  </div>
  <div class="more-infos">
    <img src="assets/img/info-32.png" />
    <div class="info-block">
      <h3>Aufgaben:</h3>
      <ul>
        <li>
          Ständiger Erfahrungsaustausch unter den Psychotherapeutenkammern.
        </li>
        <li>Gegenseitige Abstimmung der Ziele und Tätigkeiten.</li>
        <li>Gemeinsame Vertretung ihrer Anliegen.</li>
      </ul>
    </div>
  </div>
  <div class="more-infos">
    <img src="assets/img/info-32.png" />
    <span>Insgesamt gibt es 12 Landestherapeutenkammern.</span>
  </div>
  <div class="title">
    <span
      >Vergütung der Ärzte
      <span [innerHtml]="text20 | highlighter: searchText:'full'"></span> und
      <span [innerHtml]="text23 | highlighter: searchText:'full'"></span>
    </span>
  </div>
  <div class="ps">
    <img src="assets/img/warning-4-32.png" />
    <span
      >PS:Für mehr Details siehe Kursmaterialien /Modul1/Woche1/Tag4/Landkarte
      im Gesundheitswesen Teil-2/Folie 36 bis 39.</span
    >
  </div>
  <div class="more-infos">
    <img src="assets/img/info-32.png" />
    <span
      >Der
      <span [innerHtml]="text20 | highlighter: searchText:'full'"></span> ist
      das Vergütungssystem der vertragsärztlichen Versorgung in Deutschland
      .</span
    >
  </div>
  <div class="more-infos">
    <img src="assets/img/info-32.png" />
    <span
      >Nach der Gebührenordnung für Ärzte
      <span [innerHtml]="text23 | highlighter: searchText:'full'"></span>
      rechnen Ärzte ab, die privatversicherte Patienten behandeln.</span
    >
  </div>
  <div class="text-container">
    <span>Sektoren im deutschen Gesundheitswesen.</span>
  </div>
  <div class="ps">
    <img src="assets/img/warning-4-32.png" />
    <span
      >PS:Für mehr Details siehe Kursmaterialien /Modul1/Woche1/Tag5/Von der
      Arztpraxis bis zum Labor</span
    >
  </div>
  <div class="more-infos">
    <img src="assets/img/info-32.png" />
    <span
      >Im deutschen Gesundheitswesen besteht eine historischgewachsene
      Sektorentrennung.</span
    >
  </div>
  <div class="title">
    <span>Ambulanter Bereich</span>
  </div>
  <div class="title">
    <span>Stationärer Bereich.</span>
  </div>
  <div class="more-infos">
    <img src="assets/img/info-32.png" />
    <span
      >“Primärversorgung” bedeutet die medizinischeGrundversorgung und
      Erstberatung der Patienten.</span
    >
  </div>
  <div class="more-infos">
    <img src="assets/img/info-32.png" />
    <span
      >Niedergelassene Ärzte können gemeinsam in einemMedizinischen
      Versorgungszentrum tätig sein.</span
    >
  </div>
  <div class="more-infos">
    <img src="assets/img/info-32.png" />
    <span
      >Die Anzahl an Medizinischen Versorgungszentren ist inden letzten Jahren
      stetig angestiegen.</span
    >
  </div>
  <div class="more-infos">
    <img src="assets/img/info-32.png" />
    <span>Medizinische Versorgungszentren sind ein voller Erfolg.</span>
  </div>
  <div class="title">
    <span>Neben MVZs gibt es weitere Praxisformen</span>
  </div>
  <div class="more-infos">
    <img src="assets/img/info-32.png" />
    <span>Einzelpraxis.</span>
  </div>
  <div class="more-infos">
    <img src="assets/img/info-32.png" />
    <span>Praxisgemeinschaft.</span>
  </div>
  <div class="more-infos">
    <img src="assets/img/info-32.png" />
    <span>Berufsausübungs Gemeinschaft.</span>
  </div>
  <div class="title">
    <span
      >Nach wie vor ist die Einzelpraxis die am häufigstengewählte Form der
      Niederlassung.</span
    >
  </div>
  <div class="title">
    <span
      >In einer Praxisgemeinschaft bleiben die Praxenwirtschaftlich getrennt
      voneinander.</span
    >
  </div>
  <div class="title">
    <span
      >In Berufsausübungsgemeinschaften arbeiten Ärzte dergleichen oder sich
      ergänzender Fachgebiete zusammen.</span
    >
  </div>
  <div class="text-container">
    <span>Stationärer Bereich.</span>
  </div>
  <div class="more-infos">
    <img src="assets/img/info-32.png" />
    <span
      >Zum stationären Bereich gehören im deutschenGesundheitswesen
      hauptsächlich die Krankenhäuser.</span
    >
  </div>
  <div class="more-infos">
    <img src="assets/img/info-32.png" />
    <span
      >Der Grundsatz zur Trägervielfalt ist § 1 des
      Krankenhausfinanzierungsgesetzes festgelegt.</span
    >
  </div>
  <div class="title">
    <span>Öffentlich.</span>
  </div>
  <div class="more-infos">
    <img src="assets/img/info-32.png" />
    <span
      >Der öffentliche Krankenhausträger ist eine Körperschaftdes öffentlichen
      Rechts.</span
    >
  </div>
  <div class="title">
    <span>Freigemeinnützig.</span>
  </div>
  <div class="more-infos">
    <img src="assets/img/info-32.png" />
    <span
      >Freigemeinnützige Krankenhausträger sind sozialeVereinigungen oder
      kirchliche Orden.</span
    >
  </div>
  <div class="title">
    <span>Privat.</span>
  </div>
  <div class="more-infos">
    <img src="assets/img/info-32.png" />
    <span
      >Private Krankenhausträger sind sonstige natürlicheoder juristische
      Personen.</span
    >
  </div>
  <div class="text-container">
    <span>Krankenhäuser begegnen zusätzlichen Schwierigkeiten.</span>
  </div>
  <div class="more-infos">
    <img src="assets/img/info-32.png" />
    <span>Zeitmangel.</span>
  </div>
  <div class="more-infos">
    <img src="assets/img/info-32.png" />
    <span>Fachkräftemangel.</span>
  </div>
  <div class="more-infos">
    <img src="assets/img/info-32.png" />
    <span>Sektorentrennung.</span>
  </div>
  <div class="more-infos">
    <img src="assets/img/info-32.png" />
    <span>Kosten.</span>
  </div>
  <div class="more-infos">
    <img src="assets/img/info-32.png" />
    <span>Krankenhausschließung.</span>
  </div>
  <div class="title">
    <span
      >Das Krankenhauszukunftsgesetz (
      <span [innerHtml]="text24 | highlighter: searchText:'full'"></span> )
      treibt dieDigitalisierung der Krankenhäuser voran. <br />
      ForderFähige Projekte:
    </span>
  </div>
  <div class="more-infos">
    <img src="assets/img/info-32.png" />
    <span>Medikationsmanagement (Closed Loop Medication).</span>
  </div>
  <div class="more-infos">
    <img src="assets/img/info-32.png" />
    <span>Bettenplanung.</span>
  </div>
  <div class="more-infos">
    <img src="assets/img/info-32.png" />
    <span
      >Integrierte Materialdokumentation (
      <span [innerHtml]="text25 | highlighter: searchText:'full'"></span> ) im
      OP.</span
    >
  </div>
  <div class="more-infos">
    <img src="assets/img/info-32.png" />
    <span>Patientenportal.</span>
  </div>
  <div class="text-container">
    <span>Rehabilitation.</span>
  </div>
  <div class="more-infos">
    <img src="assets/img/info-32.png" />
    <span
      >Rehabilitation bedeutet die Wiederherstellung derphysischen Fähigkeiten
      im Anschluss an eine Erkrankung.</span
    >
  </div>
  <div class="more-infos">
    <img src="assets/img/info-32.png" />
    <span
      >Rehabilitations- und Vorsorgeleistungen könnenambulant oder stationär
      erfolgen.</span
    >
  </div>
  <div class="title">
    <span>Ambulant</span>
  </div>
  <div class="more-infos">
    <img src="assets/img/info-32.png" />
    <span>Patienten kommen nur zurBehandlung in dieEinrichtungen.</span>
  </div>
  <div class="more-infos">
    <img src="assets/img/info-32.png" />
    <span
      >Falls nicht möglich:Durchführung bestimmterLeistungen durch mobileReha
      Teams imgewohnten Umfeld.</span
    >
  </div>
  <div class="title">
    <span>Stationär</span>
  </div>
  <div class="more-infos">
    <img src="assets/img/info-32.png" />
    <span
      >Behandlung & Unterbringungder Patienten in einerEinrichtung ,Versorgung
      rund um dieUhr.</span
    >
  </div>
  <div class="more-infos">
    <img src="assets/img/info-32.png" />
    <span>Alle Therapiemöglichkeitenunter einem Dach.</span>
  </div>
  <div class="more-infos">
    <img src="assets/img/info-32.png" />
    <span
      >Individuelle Hilfe durch Ärzte,Pfleger, Physio- undErgotherapeuten.</span
    >
  </div>
  <div class="text-container">
    <span>Pflege.</span>
  </div>
  <div class="more-infos">
    <img src="assets/img/info-32.png" />
    <span
      >Pflege umfasst u.a. die Versorgung und Betreuungkranker, behinderter und
      sterbender Menschen.</span
    >
  </div>
  <div class="more-infos">
    <img src="assets/img/info-32.png" />
    <span
      >Pflegeleistungen können stationär, teilstationär oderambulant
      erfolgen.</span
    >
  </div>
  <div class="more-infos">
    <img src="assets/img/info-32.png" />
    <span
      >Der demographische Wandel ist eine derHerausforderungen in der
      Pflege.</span
    >
  </div>
  <div class="more-infos">
    <img src="assets/img/info-32.png" />
    <span
      >Der Pflegekräftemangel ist eine große Gefahr für denPflegebereich.</span
    >
  </div>
  <div class="text-container">
    <span>Integrierte Versorgung.</span>
  </div>
  <div class="more-infos">
    <img src="assets/img/info-32.png" />
    <span
      >Unter der integrierten Versorgung versteht man diesektorenübergreifende
      Versorgung in Deutschland.</span
    >
  </div>
  <div class="more-infos">
    <img src="assets/img/info-32.png" />
    <span
      >verschiedene Akteure des Gesundheitswesens arbeitengemeinsam in einem
      fach- und/oder sektorenübergreifendenVersorgungsprozess und erhalten
      hierfür eine gemeinsame(Gesamt-) Vergütung.</span
    >
  </div>
  <div class="more-infos">
    <img src="assets/img/info-32.png" />
    <span
      >Die Ausgangslage ist die Sektorentrennung in Deutschland, das Ziel ist die
      Integrierte Versorgung.</span
    >
  </div>
</div>
