:host {
  flex: 1;
}
::selection {
  color: red;
  background: yellow;
}

body {
  position: relative;
}

h1 {
  font-family: raleway;
}
li {
  font-family: raleway;
}
.modul1-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  font-family: mutka;
  color: #3d3d3d;
  font-weight: 600;
  margin-top: 50px;
  h2 {
    text-align: center;
  }
}

.header {
  background-color: #2f8aea;
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 16px;
  color: white;
  font-family: raleway;
}
.gw-akteure {
  display: flex;
  flex-direction: column;
  width: 100%;
  color: #3d3d3d;
}
::ng-deep .highlighted-text {
  background-color: yellow;
  padding: 2px;
  color: black;
}

.search-input {
  align-self: center;
  margin-top: 24px;
  margin-bottom: 24px;
  @media (max-width: 650px) {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  label {
    font-weight: 600;
    font-family: mutka;
  }
  input {
    width: 440px;
    border-radius: 16px;
    height: 30px;
    padding: 8px;
    @media (max-width: 500px) {
      width: 250px;
    }
  }
}

.text-container {
  display: flex;
  justify-content: center;
  font-family: raleway;
  font-weight: bold;
  color: #3d3d3d;
  border-radius: 16px;
  padding: 16px;
  width: 90%;
  background: #2eeae6;
  color: black;
  font-size: 18px;
  align-self: center;
  margin-bottom: 16px;
  @media (max-width: 500px) {
    width: 80%;
  }
  @media (max-width: 450px) {
    font-size: 14px;
  }
}

.text-container2 {
  height: 100px;
  width: 240px;
  background: hsl(11deg 100% 52%);
  border-radius: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
  font-weight: bold;
  padding: 16px;
  margin: 10px;
  font-family: raleway;
}

.akteure {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 32px;
  margin-top: 16px;
  flex-wrap: wrap;
}

.bg {
  position: absolute;
  background: hsl(0deg 0% 13%);
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: none;
  justify-content: center;
  align-items: center;
}

.info {
  background: white;
  height: 500px;
  width: 500px;
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.show {
  display: block;
}

.discriptions {
  display: flex;
  flex-direction: column;
  background-color: #318deb;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  border-radius: 16px;
  margin-bottom: 16px;
  font-family: raleway;
  @media (max-width: 450px) {
    font-size: 12px;
  }

  span {
    padding: 16px;
    font-weight: bold;
    margin-top: 16px;
    color: white;
  }
  li {
    font-weight: bold;
  }
  p {
    font-weight: bold;
    margin-left: 16px;
  }
}

.kv-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
  .warn {
    background: #ff370a;
    color: black;
  }
}

.ps {
  display: flex;
  margin-bottom: 32px;
  font-weight: bold;
  align-items: center;
  padding-left: 16px;
  padding-right: 16px;
  word-break: break-word;
  max-width: 690px;
  @media (max-width: 450px) {
    flex-direction: column;
    font-size: 12px;
  }

  img {
    margin-right: 10px;
    @media (max-width: 450px) {
      margin-bottom: 10px;
      margin-right: 0;
    }
  }
}

.more-infos {
  display: flex;
  align-items: center;
  font-weight: bold;
  margin-bottom: 16px;
  width: 80%;
  font-family: raleway;
  @media (max-width: 450px) {
    flex-direction: column;
    font-size: 12px;
  }

  img {
    margin-right: 10px;
    @media (max-width: 450px) {
      margin-bottom: 10px;
      margin-right: 0;
    }
  }
}

.title {
  background: #42c0fb;
  padding: 16px;
  border-radius: 16px;
  font-weight: bold;
  margin-bottom: 16px;
  margin-top: 8px;
  width: 80%;
  text-align: center;
  font-family: raleway;
  @media (max-width: 450px) {
    font-size: 12px;
  }
}

.info-block {
  background: #42c0fb;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 16px;
  border-radius: 16px;
  width: 80%;
  margin-bottom: 16px;
  font-family: raleway;
  ul {
    @media (max-width: 450px) {
      font-size: 12px;
    }
  }
}

.img-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
  margin-top: 34px;

  img {
    width: 90%;
  }
  .close-btn {
    height: 32px;
    width: 32px;
  }
}

.close-btn {
  height: 32px;
  width: 32px;
  margin: 20px;
}

.big-img {
  transform: scale(1.5);
  border: 2px solid black;
}

.small-img {
  transform: scale(1);
}

.pdf-button {
  display: flex;
  margin-bottom: 32px;

  button {
    margin: 10px;
    margin: 10px;
    outline: none;
    background: red;
    border: none;
    border-radius: 16px;
    padding: 16px;
    color: white;
    font-family: raleway;
    font-weight: bold;
    cursor: pointer;
    &:hover {
      transform: scale(1.1);
    }
    transition: ease-in-out;
  }
}

.green {
  background: #00fd00;
  padding: 7px;
  border-radius: 16px;
  width: 100%;
}
.yellow {
  background: #ecfd00;
  padding: 7px;
  border-radius: 16px;
}
.orange {
  background: #fdc000;
  padding: 7px;
  border-radius: 16px;
}
.red {
  background: hsl(11deg 100% 52%);
  padding: 7px;
  border-radius: 16px;
}
.search-options {
  align-self: center;
  margin-bottom: 20px;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
  display: none;
  span {
    margin: 8px;
    font-weight: bold;
    background-color: #2f8aea;
    padding: 8px;
    border-radius: 16px;
    width: 165px;
    text-align: center;
    color: white;
    cursor: pointer;
  }
}

.btns {
  display: flex;
  width: 500px;
  width: 100%;
  justify-content: center;
  margin-bottom: 20px;
  align-items: center;

  img {
    height: 32px;
    cursor: pointer;
  }
}

.btn1 {
  width: 130px;
  align-self: center;
  border: none;
  background: #ff370a;
  margin: 5px;
  border-radius: 16px;
  padding: 8px;
  font-weight: bold;
  cursor: pointer;
  color: white;
}

.show-list {
  display: flex;
}

.show-list-container {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: center;
}
