<div class="welcom-container">

<aside>
  <p> Menu </p>
  <a routerLink="/home">
    <i class="fa fa-user-o" aria-hidden="true"></i>
    Home
  </a>
  <a routerLink="/modul1">
    <i class="fa fa-laptop" aria-hidden="true"></i>
    Modul 1
  </a>
  <a routerLink="/shortcuts">
    <i class="fa fa-clone" aria-hidden="true"></i>
    Abkürzungen
  </a>
  <a href="javascript:void(0)">
    <i class="fa fa-star-o" aria-hidden="true"></i>
    Suchen
  </a>
  <a href="javascript:void(0)">
    <i class="fa fa-trash-o" aria-hidden="true"></i>
    Meine Notizen
  </a>
</aside>

<router-outlet></router-outlet>

</div>

<app-footer></app-footer>
