<div class="welcom-content">
  <h1>Welcom to HYPERCAMPUS-Nuggets</h1>
  <p>(By Sultan)</p>
  <h2>Team Knorke</h2>
  <div class="welcom-img">
    <div class="img-container">
      <img src="assets/img/lernen2.png">
      <span>Lernen</span>
    </div>
    <div class="img-container">
      <img src="assets/img/suche4.png">
      <span>Wichtige Begriffe suchen</span>
    </div>
    <div class="img-container">
      <img src="assets/img/pdflibrary.jpg">
      <span>PDF-Library</span>
    </div>
  </div>
</div>

